<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= docTitle %></title>
    <link rel="stylesheet" href="/css/auth.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
    <style>
      .helper2 {
        right: 28%;
      }
    </style>
    <script src="/script/auth.js" defer></script>
  </head>
  <body>
    <main>
      <div class="modal">
        <div class="one">
          <div class="message">
            <h1>
              Join
              <div id="logo">ReadWell</div>
              today to buy and enjoy your favourite mangas and light novels.
            </h1>
          </div>
        </div>
        <div class="two">
          <div class="form-box">
            <h2>Log In</h2>
            <p>Not a customer yet? <a href="/signup">Join now</a></p>
            <form action="/login" method="POST" novalidate>
              <div class="info-field">
                <input
                  type="email"
                  name="email"
                  value="<%= oldInput.email %>"
                  autocomplete="on"
                  placeholder=" "
                  required
                />
                <label for="email">
                  <span>Email</span>
                </label>
              </div>
              <div class="info-field">
                <input
                  type="password"
                  name="password"
                  id="password"
                  maxlength="20"
                  value="<%= oldInput.password %>"
                  placeholder=" "
                  required
                />
                <label for="password">
                  <span>Password</span>
                </label>
              </div>
              <i class="fas fa-eye helper2" id="pw-eye-btn"></i>
              <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
              <button type="submit">Log In</button>
            </form>
            <p><a href="/reset">Forgot your username or password?</a></p>
            <% if (errorMessage) { %>
            <div class="error"><%= errorMessage %></div>
            <% } %>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
