<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/recovery.css">
  <link rel="stylesheet" href="/css/new-password.css">
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous"
  />
  <script src="/script/home.js" defer></script>
  <script src="/script/new-password.js" defer></script>
  <style>
    #form-box {
      width: 50%;
      padding-top: 20vh;
      margin: 0 auto;
    }
  </style>
</head>
<body>
  <%- include('../includes/navigation.ejs') %>
  <main>
    <form id="form-box" action="/new-password" method="POST">
      <div class="info-field">
        <input
          type="password"
          name="password"
          placeholder=" "
          id="password"
          maxlength="20"
          autocomplete="off"
          required
        />
        <label for="password">
          <span>Password</span>
        </label>
      </div>
      <i class="fas fa-info-circle helper" id="pw-info-btn"></i>
      <i class="fas fa-eye helper2" id="pw-eye-btn1"></i>
      <div class="info-field">
        <input
          type="password"
          name="confirmPassword"
          placeholder=" "
          id="confirm-password"
          maxlength="20"
          autocomplete="off"
          required
        />
        <label for="confirmPassword">
          <span>Confirm Password</span>
        </label>
      </div>
      <i class="fas fa-eye helper2" id="pw-eye-btn2"></i>
      <button class="positive" type="submit">Change Password</button>
      <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
      <input type="hidden" name="userId" value="<%= userId %>">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    </form>
    <div id="pw-info">
      <h5>Password Rules</h5>
      <p>Minimum 8 characters</p>
      <p>Maximum 20 characters</p>
      <p>At least one uppercase character</p>
      <p>At least one lowercase character</p>
      <p>At least one digit</p>
      <p>At least one special character</p>
    </div>
    <% if (errorMessage) { %>
      <div id="error"><%= errorMessage %></div>
    <% } %>
  </main>
  <%- include('../includes/end.ejs') %>
